@use 'base/mixins' as m;
@use 'base/variables' as v;

@include m.tablet{
    .contenedor-cards{
        @include m.grid (3, 2rem);
    }
}

.card{
    background-color: lighten($color: v.$gris, $amount: 5);
    border: 1px solid darken(v.$gris,15);
    margin-bottom: 2rem;

    .contenido-card{
        padding: 2rem;
    }

    h3,p{
        margin: 0;
    }


}

.precio{
    color: v.$verde;
    font-weight: bold;
    font-size: 2.5rem;
}

.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;
    
    li{
        flex: 1; //Hace que tomen todo el espacio disponible y cada uno va recibiendo 1px
        display: flex;
        //justify-content: space-evenly;
        justify-content: space-around;

        img{
            flex: 0 0 3rem;
            
        }

        p{
            font-weight: v.$black;
        }
    }
}