@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer{
    background-color: v.$grisOscuro;
    padding: calc(v.$separacion/2)  0;
    margin-bottom: 0;

    .contenido-footer{
        padding-top: calc(v.$separacion/2);
    }

    .navegacion{
        opacity: 1;
        visibility: visible;
        height: auto;
    }

    .copyright{
        color: v.$blanco;
        text-align: center;
    }
}